@import "lib/bourbon/bourbon";
@import "style";

h1 {
	position: relative;
}

h1 span {
	display: block;
	width: 80%;
}

div.controls {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;
	letter-spacing: 8px;
}

div.controls i {
	cursor: pointer;
	@include transition(transform .5s ease-in-out);
}

div.controls i:hover {
	@include transform(translateY(-3px));
}

input[name="add"] {
	display: none;
}

*.visible {
	display: block !important;
}

div.message {
	border: 1px solid $h1_colour;
	border-radius: 2px;
	padding: 7px 10px;
	margin-bottom: 15px;
	font-size: 13.25px;
}

div.green {
	background-color: #9AEB74;
}

div.red {
	background-color: #EB8C74;
}