@import "lib/bourbon/bourbon";

h1 {
	position: relative;
}

h1 span {
	display: block;
	width: 80%;
}

div.controls {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;
	letter-spacing: 8px;
}

div.controls i {
	cursor: pointer;
	@include transition(transform .5s ease-in-out);
}

div.controls i:hover {
	@include transform(translateY(-3px));
}

input[name="add"] {
	display: none;
}

*.visible {
	display: block !important;
}