extends /core
block content
	h1 404 - Not Found
	.box
		p Aww, it looks like the page your were looking for was not found! This could either be because the page is not finished, or you made a typo.
		p
			| If this is not the case, then please contact the server developer(s) 
			a(href="/contact") here
			|  about this incident. Thank you!