extends core
block css
	link(rel="stylesheet", type="text/css", href="/css/chat.css")
	include /redirect
block content
	h1.chat_wrapper Server Chat
		.heads
	.box
		div.chat_flow
		input(type="text", name="input", placeholder="Enter chat message", maxLength = "80")
block js
	script(type="text/javascript", src="/js/chat.js")