extends core
block css
	include /redirect
block content
	h1(id ="chatWrapper") Server Chat
	.box
		div(id="chatFlow", style="height: 500px; width: 700px; overflow: scroll")
		input(type="text", name="input", placeholder="Enter chat message...", maxLength = "80")
block js
	script(type="text/javascript", src="/js/chat.js")