extends /core
block content
	h1 Internal Server Error
	.box
		| The action you have just performed has caused an internal server error. This action will not be taken lightly and this incident will be reported. (lol)