extends /core
block css
	link(rel="stylesheet", type="text/css", href="/css/load.css")
block content
	h1 Welcome to Worlds Apart
	.box
		p Worlds Apart is a family run and family friendly server!  We do our best to provide a fun and entertaining server for kids of all ages. We expect you to behave here as you would in front of your family, and always be nice to everyone. Because we are a family friendly server we have a stict anti-profanity rule - type/talk as if you are in front of your youngest/eldest family members.
		ul
			li Worlds Apart is not a Role Playing (RP) server. There are some elements of RP, such as alliances, the style of communities, and the building within them; but mostly, you're expected to just be yourself and have fun.
			li Worlds Apart is a survival server focused on an alliance-based community. We want you to be a part of a team and succeed together!
			li Players can choose to play normal survival or work on community development. We also have some new features coming soon with more to offer. 
			li We try to always take the communities opinions into account, so if you have ideas or concerns let us know!
			li Worlds Apart is operated by custom plugins developed by admins of the server, for the server. No other server has our system. Everything has been designed specifically for us, by us.
		p Feel free to join us on the server! We have two domains - 
			b ohsototes.com
			|  and 
			b worldsapart.no-ip.org
			|  - they will both work!