extends /core
block css
	link(rel="stylesheet", type="text/css", href="/css/login.css")
block content
	h1 Login or Register to ohsototes.com
	.box
		input(type="text", name="user", placeholder="Username")
		button(type="submit", name="login") Log In
		input(type="password",name="password",  placeholder="Password")
		button(type="submit", name="register") Register
block js
	script(type="text/javascript", src="/js/login.js")