- var navbar = {}
- navbar["home"] = "/index"
- navbar["rules"] = "/rules"
if user
	- navbar["chat"] = "/chat"
else
	- navbar["login"] = "/login"
- navbar["utilities"] = "javascript:void(0)"
- navbar["about"] = "/about"

- var drops = {}
- drops["utilities"] = {}
- drops["utilities"]["djrequest"] = "/utils/dj"
- drops["utilities"]["shows.js"] = "http://ohsototes.com/shows/"
- drops["utilities"]["alliances"] = "/utils/alliances"
- drops["utilities"]["teamspeak"] = "/utils/ts"
- drops["utilities"]["staff"] = "/utils/staff"
- drops["utilities"]["ranks"] = "/utils/ranks"
- drops["utilities"]["markkit"] = "/utils/markkit"
- drops["utilities"]["calendar"] = "/utils/calendar"
- drops["utilities"]["settings"] = "/utils/settings"
if user
	- drops["utilities"]["logout"] = "/api/logout"

ul.navbar
	each link, text in navbar
		li
			- var clazz = "";
			- var temp = text
			if url == link || (url == "/" && link == "/index") || (url.indexOf("/utils/") == 0 && link.indexOf("javascript:") == 0)
				- clazz = "selected"
				if (url.indexOf("/utils/") == 0 && link.indexOf("javascript:") == 0)
					each link, desc in drops[text]
						if url == link
							- temp = desc
			a(class=clazz, href=link, style="width: calc(800px / " + Object.keys(navbar).length + ")")= temp
			if drops[text]
				ul.drop
					each link, desc in drops[text]
						li
							a(href=link)= desc