extends core
block content
	h1 General Server Rules
	.box
		ul
			li You must read and abide by all the rules in all the sections.
			li No griefing (including placing and destroying blocks). No stealing (including from players, events, dungeon kits/chests, unfounded cities etc). No cheating (x-ray packs, fly-mods, movement hacks, game altering mods, etc).
			li No spamming. No excessive caps. No advertising.
			li No racism. No sexism. No agism.
			li Be polite. Don't be obnoxious. Respect fellow players.
			li Refrain from foul language.
			li This is an English speaking server - Please use it here.
			li Do not ask to be trusted, mod, admin, or op. If there's a need for more staff, and if you have the right character, you'll be asked/promoted.
			li Cut all of the tree down when gathering logs. Replace cut trees with saplings. Replace farmed crops with planted seeds. Replace animals with babies.
			li Don't leave fences or doors open. Don't let animals out from other players farms.
			li Don't destroy the land when farming for materials or when building.
			li Keep the landscape relatively neat and intact.
			li Re-build creeper damage, whether it's caused by you or not - no one wants to see a landscape/town full of holes.
			li Mob spawner traps are allowed (provided mobs don''t build up to over 100 at a time). Dark room mob traps are strictly not allowed.
			li Animal farms of all types are encouraged, but ensure mobs do not build up to over 50. Any more than this and server can experience pressure.
			li Very small automatic farms are allowed (up to 150 wheat/sugarcane harvested, 50 melons/pumpkins/cacti harvested). Large scale auto-farms are are strictly not allowed. If in doubt, ask tdstaz69 or staff.
			li PVP is allowed on the server in pre-defined areas (arenas, stadiums, events). However, engaging in hostile PVP in the open game world is frowned upon.
			li Breaching any of the rules in any of the sections may result in a permanent ban.
	h1 Worlds Apart Game Rules
	.box
		ul
			li Players must abide by their alliances rules.
			li Players must not grief other alliances or their builds.
			li Players must not claim or inhabit other alliances houses.
			li Alliances should not overlap and have a fair amount of space between them.
			li Alliances that fall below 2 active members will be 'unfounded' - its protections and name will be removed.
			li Unfounded alliances that have not been reclaimed within 1 week may be demolished.
			li Please insert "bat", "beacon block", or "wither" somewhere randomly into your application to confirm that you have read the rules.
			li Unfounded alliances may not be looted. Looting an unfounded Alliance is considered stealing.
			li Players may trade any permissible items they wish between any players belonging to any alliances on Worlds Apart.
			li Players that leave their alliance, transfer to a different one or are removed from an alliance will be demoted to their previous rank. This rule doesn't apply to alliances that are unfounded.
	h1 Worlds Apart Building Rules
	.box
		ul
			li Builders must have good quality, aesthetically pleasing and detailed building skills.
			li No quickly built boxes with minimal detail are allowed in Worlds Apart unless they are the beginnings of a better structure.
			li Buildings are regularly assessed for quality, consistency and effort. If your builds do not adhere to the building rules you may be asked to improve your structures or at worst your builds may be removed.
			li Players must stick to the general style of their city - don't build something completely out of place next to the surrounding buildings and architecture.
	h1 Worlds Apart Market Rules
	.box
		ul
			li Don't sell communal, public, or warehouse items to the market or trading house unless alliance members are informed and in agreement.
			li Market prices will always fluctuate depending on peoples actions. If an individual or community create industrial sized farms, the value of what they are farming will decrease.
			li If you find an easy money making technique, exploit or hole in the market system, don't abuse it or benefit from it.