extends /core
block css
	link(rel="stylesheet", type="text/css", href="/css/dj.css")
block content
	h1 WA DJ Request
		span
	.box
		- var i = 1
		while i <= 10
			button(type="submit", name="Song") Song #{i}
			- i++
block js
	script(type="text/javascript", src="/js/dj.js")