extends /core
block css
	link(rel="stylesheet", type="text/css", href="/css/dj.css")
block content
	h1 
		span Nothing Playing
		.controls
			i.fa.fa-plus
			i.fa.fa-minus
			i.fa.fa-refresh
			i.fa.fa-gavel
			i.fa.fa-thumbs-down
	.box
		input(class="visible", type="text", name="add", placeholder="Paste a YouTube link here")
		table.queue
			- var i = 0
			- var numerals = ["I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X"]
			tr
				td Pos.
				td Name of Song
				td Submitter
				td Duration
			while i < 10
				tr
					td= numerals[i]
					td -
					td -
					td --:--
				- i++
block js
	script(type="text/javascript", src="/js/dj.js")