extends /core
block css
	link(rel="stylesheet", type="text/css", href="/css/dj.css")
block content
	h1 Download Link System
	.box
		input(type="text", name="title", placeholder="Title")
		input(type="text", name="link", placeholder="Link")
		ul.list
block js
	script(type="text/javascript", src="/js/links.js")