extends /core
block content
	h1 Rank Information
	.box
		p(style="padding-bottom: 15px;") Worlds Apart offers individual player ranks to help you succeed. With each rank you get additional perks, but you have to earn the money (shinies) in-game in order to purchase the rank. Each rank also has an increased Sunday Interest %, each sunday you will recieve a balance increase based on what's in your bank and which percentage you are at. The higher you rank the more shinies you make!
		table
			tr
				td Name
				td Cost
				td Interest
				td Perks
			tr
				td Member
				td Application
				td 2%
				td Build, Community Access, /sethome, /baltop
			tr
				td Dweller
				td &#642;5,000
				td 2.25%
				td /notepad, /seen, /suidide, /wealth
			tr
				td Settler
				td &#642;10,000
				td 2.5%
				td Chat formatting, Sign colouring
			tr
				td Villager
				td &#642;15,000
				td 2.75%
				td Disposal sign, /hat, /chestplate, /leggings, /boots
			tr
				td Townsman
				td &#642;30,000
				td 3%
				td 2nd home, /ci, Mine 'N Dash
			tr
				td Citizen
				td &#642;50,000
				td 3.25%
				td /workbench, /home (during combat)
			tr
				td Districtman
				td &#642;100,000
				td 3.5%
				td Double mob money, /near, /pt
			tr
				td Statesman
				td &#642;175,000
				td 3.75%
				td /tpa, /firework
			tr
				td Regional
				td &#642;275,000
				td 4%
				td 3rd home, /rainoff (limited)
			tr
				td National
				td &#642;275,000
				td 4.25%
				td /feed, /flare
			tr
				td Continental
				td &#642;600,000
				td 4.5%
				td Multiple power tools, /heal
			tr
				td Emperor
				td &#642;800,000
				td 4.75%
				td Triple mob money, /tpahere
			tr
				td Immortal
				td &#642;1,000,000
				td 5%
				td 4th home, Amplified world, /soar (limited)
		p(style="padding-top: 15px;") &#642; = shinies