extends /core
block content
	h1 TeamSpeak Information
	.box
		p We provide a TeamSpeak where a lot of the community hangs out, but it is not just people from Minecraft. We are less strict on rules and a lot of crazy stuff happens. This is where we make some of our best friends! If you ever feel offended by someone on the teamspeak either talk to them or talk to a server admin and we will try to resolve it. The teamspeak chat stays in teamspeak and topics shall not be broadcasted in-game.
		p
			a.button(href="ts3server://t4i.teamspeak.cc") Join us on TeamSpeak!
			a.button(href="http://www.teamspeak.com/?page=downloads") Download TeamSpeak